* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container__main {
    min-width: 250px;
    max-width: 320px;
}

.section__top {
    background-color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.section__top, .article__price, .article__why {
    padding: 20px;
}

.title {
    color: hsl(179, 62%, 43%);
    font-size: 1.2em;
}

.subtitle {
    color: hsl(71, 73%, 54%);
    margin: 15px 0;
}

.paragraph {
    color: hsl(218, 22%, 67%);
    font-size: .9em;
    line-height: 1.7em;
}

.article__price {
    color: #FFF;
    background-color: hsl(179, 62%, 43%);
}

.title__article__price {
    font-size: 1.2em;
}

.container__price {
    display: flex;
    align-items: center;
    margin: 12px 0 5px 0;
}

.price {
    font-size: 1.6em;
}

.text__price {
    color: hsl(204, 43%, 93%);
    font-size: .7em;
    font-weight: lighter;
    margin-left: 10px;
}

.paragraph__price {
    font-size: .85em;
    font-weight: 400;
}

.button__price {
    margin-top: 25px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 0;
    background-color: hsl(71, 73%, 54%);
    border: 1px solid hsl(71, 73%, 54%);
    border-radius: 5px;
    color: #FFF;
    font-size: .8em;
    box-shadow: -1px 12px 14px -4px rgba(0,0,0,0.31);
    transition: .3s;
}

.button__price:hover {
    background-color: hsl(71, 93%, 61%);
    cursor: pointer;
}

.article__why {
    background-color: hsl(179, 51%, 56%);
    color: #FFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.title__article__why {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.paragraph__why {
    font-size: .8em;
    width: 60%;
    font-weight: 400;
    line-height: 1.5em;
}