@media only screen and (min-width: 1440px) {
    * {
        font-size: 18px;
    }

    .container__main {
        max-width: 700px;
    }

    .section__bottom {
        display: flex;
    }

    .container__article {
        width: 50%;
    }

    .section__top, .article__price, .article__why {
        padding: 40px;
    }

    .button__price {
        margin-top: 30px;
        padding: 15px 0;
        font-size: 1em;
    }

    .paragraph__why {
        width: 70%;
    }
}